<footer class="relative w-full mb-20 mt-28 bg-gray-100 dark:bg-gray-900 dark:text-gray-100">
    <div class="p-4 sm:px-10">
        <div class="grid max-sm:grid-cols-1 max-xl:grid-cols-2 xl:grid-cols-5 gap-8 max-w-7xl mx-auto">
            <div class="xl:col-span-2">
                <a href="#"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" class="w-14" viewBox="0 0 48 48">
                        <polygon fill="#3ddab4"
                            points="44,17 39,41 29.5,41 26,37 22,37 21,35.48 19.5,41 11,41 3,33 5.52,24 6.36,21 8.6,13 9.44,10 10,8 20,8 24,13.5 24.5,12 28,12 29,8 38,8">
                        </polygon>
                        <polygon fill="#00b569" points="39,41 32,33 38,8 44,17"></polygon>
                        <polygon fill="#00b569" points="20,8 19,13 21,13 19.5,19 22.5,19 24,13.5"></polygon>
                        <polygon fill="#00b569" points="20,10 20,13 8.6,13 9.44,10"></polygon>
                        <rect width="17" height="3" x="22" y="16" fill="#00b569"></rect>
                        <polygon fill="#00b569" points="34.75,8 32,19 29,19 31.75,8"></polygon>
                        <polygon fill="#00b569" points="15.5,24 14.75,27 8,27 8.75,24 5.52,24 6.36,21 12.25,21 11.5,24">
                        </polygon>
                        <polygon fill="#f5bc00"
                            points="19.5,41 11,41 3,33 12.5,33 15,24 18,24 16.75,29 22,29 23.25,24 26,24 24,33 32,33 39,41 29.5,41 26,37 22,37 21,35.476">
                        </polygon>
                        <polygon fill="#eb7900"
                            points="16.75,29 22,37 26,37 29.5,41 39,41 32,33 24,33 24.122,32.449 22,29"></polygon>
                        <polygon fill="#eb7900" points="12.5,33 19.5,41 11,41 3,33"></polygon>
                    </svg>
                </a>
                <p class="mb-2 text-gray-600 dark:text-gray-400">
                    Discover high-quality, trend-setting fashion at unbeatable prices. We bring you the latest styles
                    with fast, reliable shipping and excellent customer service.
                </p>
            </div>
            <div>
                <h4 class="text-xl font-semibold mb-6">Shop</h4>
                <ul class="space-y-4">
                    <li><a href="/products" class="hover:text-blue-600 dark:hover:text-blue-400 flex items-center gap-2">All Products</a></li>
                    <li><a href="/new-arrivals" class="hover:text-blue-600 dark:hover:text-blue-400 flex items-center gap-2">New Arrivals</a></li>
                    <li><a href="#best_seller" class="hover:text-blue-600 dark:hover:text-blue-400 flex items-center gap-2">Best Sellers</a></li>
                </ul>
            </div>
            <div>
                <h4 class="text-xl font-semibold mb-6">Customer Support</h4>
                <ul class="space-y-4">
                    <li><a href="/contact" class="hover:text-blue-600 dark:hover:text-blue-400 flex items-center gap-2">Contact Us</a></li>
                    <li><a href="/shipping-info" class="hover:text-blue-600 dark:hover:text-blue-400 flex items-center gap-2">Shipping Information</a></li>
                    <li><a href="/track-order" class="hover:text-blue-600 dark:hover:text-blue-400 flex items-center gap-2">Track Your Order</a></li>
                </ul>
            </div>
            <div>
                <h4 class="text-xl font-semibold mb-6">About Us</h4>
                <ul class="space-y-4">
                    <li><a href="/about" class="hover:text-blue-600 dark:hover:text-blue-400 flex items-center gap-2">Our Story</a></li>
                </ul>
            </div>
        </div>
    </div>
    <hr class="my-6 border-gray-300 dark:border-gray-700" />
    <p class='text-center text-gray-600 dark:text-gray-400'>&copy; {{currentYear()}} All Rights Reserved.</p>
    <hr class="my-6 border-gray-300 dark:border-gray-700" />
</footer>